/*Chart.css*/
.chartpagetitle{
    text-align:center;
    color: rgb(92, 109, 185);
  }
  .charttitle1{
    color: black;
    text-align: center;
  }
  .chart1button{
    width: 100px;
    height: 30px;
    font-family: monospace;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(233, 230, 230);
    background-color: rgb(114, 116, 138);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .chart1button:hover {
    background-color: #9661c7;
    box-shadow: 0px 15px 20px rgba(55, 96, 209, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .chart{
      margin-left: 34%;
  }